# 5. íŒŒì¼ ì €ì¥ ë° ì—´ê¸°
---
- pandasëŠ” ë‹¤ì–‘í•œ íŒŒì¼ í˜•ì‹ì˜ ë°ì´í„°ë¥¼ ì½ì–´ì˜¬ ìˆ˜ ìˆëŠ” ê¸°ëŠ¥ì„ ì œê³µí•œë‹¤.
- ìì£¼ì‚¬ìš©í•˜ëŠ” ë°ì´í„°í˜•ì‹ì€ CSV, Excel, JSON, SQL ë“±ì´ ìˆë‹¤.

In [16]:
import pandas as pd

data = {
    'ê³ ê°ID': ['C001', 'C002', 'C003', 'C004', 'C005', 'C006', 'C007', 'C008'],
    'ê³ ê°ëª…': ['ë°•íƒœê·¼', 'ì´ì˜í¬', 'ë°•ì§€ì„±', 'ìµœë¯¼ì•„', 'ì •ìˆ˜ë¹ˆ', 'ìœ¤íƒœì˜', 'í•œìœ ì§„', 'ê°•ë¯¼í˜¸'],
    'ë‚˜ì´': [35, 30, 35, 40, 28, 27, 31, 29],
    'ê±°ì£¼ë„ì‹œ': ['ì‹œí¥', 'ì•ˆì–‘', 'ìš¸ì‚°', 'ì°½ì›', 'êµ¬ë¡œ', 'ì‹œí¥', 'íŒŒì£¼', 'ì¼ì‚°'],
    'ì£¼ìš”ê´€ì‹¬ì‚¬': ['Electronics', 'fashion', '', 'Fashion', 'Fashion', 'Electronics', '', 'Sports'],
    'ìµœê·¼1ë…„_ë°©ë¬¸ë¹ˆë„': [75, 85, 95, 92, 82, 88, 68, 98],
    'í‰ê· êµ¬ë§¤ì•¡(ë§Œì›)': [70, 92, 110, 105, 88, 95, 65, 125],
    'ê³ ê°ë§Œì¡±ë„(ì )': [78, 88, 91, 82, 94, 85, 77, 96],
    'ì¬êµ¬ë§¤ì˜ì‚¬(ì )': [92, 85, 88, 96, 79, 91, 83, 90]
}

df = pd.DataFrame(data)
df

   ê³ ê°ID  ê³ ê°ëª…  ë‚˜ì´ ê±°ì£¼ë„ì‹œ        ì£¼ìš”ê´€ì‹¬ì‚¬  ìµœê·¼1ë…„_ë°©ë¬¸ë¹ˆë„  í‰ê· êµ¬ë§¤ì•¡(ë§Œì›)  ê³ ê°ë§Œì¡±ë„(ì )  ì¬êµ¬ë§¤ì˜ì‚¬(ì )
0  C001  ë°•íƒœê·¼  35   ì‹œí¥  Electronics         75         70        78        92
1  C002  ì´ì˜í¬  30   ì•ˆì–‘      fashion         85         92        88        85
2  C003  ë°•ì§€ì„±  35   ìš¸ì‚°                      95        110        91        88
3  C004  ìµœë¯¼ì•„  40   ì°½ì›      Fashion         92        105        82        96
4  C005  ì •ìˆ˜ë¹ˆ  28   êµ¬ë¡œ      Fashion         82         88        94        79
5  C006  ìœ¤íƒœì˜  27   ì‹œí¥  Electronics         88         95        85        91
6  C007  í•œìœ ì§„  31   íŒŒì£¼                      68         65        77        83
7  C008  ê°•ë¯¼í˜¸  29   ì¼ì‚°       Sports         98        125        96        90

### CSV íŒŒì¼ë¡œ ì €ì¥ ë° ì½ê¸°

**CSVíŒŒì¼ì´ë€?** 
- CSV(Comma Separated Values)ëŠ” ê° í•­ëª©ì„ ì‰¼í‘œ(,)ë¡œ êµ¬ë¶„í•´ì„œ ì €ì¥í•˜ëŠ” í…ìŠ¤íŠ¸ íŒŒì¼ í˜•ì‹
- ì¼ë°˜ì ìœ¼ë¡œ ì—‘ì…€ê³¼ ê°™ì€ ìŠ¤í”„ë ˆë“œì‹œíŠ¸ ë°ì´í„°ë¥¼ ì €ì¥í•  ë•Œ ìì£¼ ì‚¬ìš©
-  í™•ì¥ìëŠ” .csv

**CSV íŒŒì¼ ì €ì¥ (`to_csv()`)**
- CSV íŒŒì¼ì„ ì €ì¥í•  ë•ŒëŠ” `to_csv()` ë©”ì„œë“œë¥¼ ì‚¬ìš©í•œë‹¤.

In [17]:

df.to_csv('data/customers.csv')

In [18]:
# ì—‘ì…€ì—ì„œë„ ì•ˆê¹¨ì§€ë„ë¡ utf-8-sig ì¸ì½”ë”© ë°©ì‹ ì‚¬ìš©
df.to_csv('data/customers2.csv', encoding='utf-8-sig')

ê¸°ë³¸ ì¸ë±ìŠ¤ë¥¼ í¬í•¨í•˜ì§€ ì•Šê³  ì €ì¥í•˜ê¸°

In [19]:
df.to_csv('data/customers3.csv', encoding='utf-8-sig', index=False)

**êµ¬ë¶„ìë¥¼ ë³€ê²½í•˜ì—¬ ì €ì¥í•˜ê¸°**
- sep ì†ì„±ì„ ì‚¬ìš©í•˜ì—¬ êµ¬ë¶„ìë¥¼ ë³€ê²½í•˜ì—¬ ì €ì¥ í•  ìˆ˜ ìˆë‹¤.
- ì´ë• ì½¤ë§ˆë¡œ êµ¬ë¶„ë˜ì§€ ì•Šì•˜ê¸°ë•Œë¬¸ì— txtíŒŒì¼ë¡œ ì €ì¥í•œë‹¤.

In [20]:
df.to_csv('data/customers_tab.txt', sep='\t')

**CSV íŒŒì¼ ì½ê¸° (`read_csv()`)**
- CSV íŒŒì¼ì„ ì½ì–´ì˜¬ ë•ŒëŠ” `read_csv()` í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•œë‹¤.

In [21]:
df = pd.read_csv('data/customers3.csv')
df.head() # ë°ì´í„° ìƒìœ„ 5ê°œë§Œ ì¶œë ¥

   ê³ ê°ID  ê³ ê°ëª…  ë‚˜ì´ ê±°ì£¼ë„ì‹œ        ì£¼ìš”ê´€ì‹¬ì‚¬  ìµœê·¼1ë…„_ë°©ë¬¸ë¹ˆë„  í‰ê· êµ¬ë§¤ì•¡(ë§Œì›)  ê³ ê°ë§Œì¡±ë„(ì )  ì¬êµ¬ë§¤ì˜ì‚¬(ì )
0  C001  ë°•íƒœê·¼  35   ì‹œí¥  Electronics         75         70        78        92
1  C002  ì´ì˜í¬  30   ì•ˆì–‘      fashion         85         92        88        85
2  C003  ë°•ì§€ì„±  35   ìš¸ì‚°          NaN         95        110        91        88
3  C004  ìµœë¯¼ì•„  40   ì°½ì›      Fashion         92        105        82        96
4  C005  ì •ìˆ˜ë¹ˆ  28   êµ¬ë¡œ      Fashion         82         88        94        79

êµ¬ë¶„ìê°€ ë³€ê²½ëœ ë°ì´í„°ëŠ” êµ¬ë¶„ìë¥¼ ì§€ì •í•´ì„œ íŒŒì‹± í•  ìˆ˜ ìˆë‹¤.

In [22]:
df = pd.read_csv('data/customers_tab.txt', sep='\t')
df.head() # ë°ì´í„° ìƒìœ„ 5ê°œë§Œ ì¶œë ¥

,Unnamed: 0,ê³ ê°ID,ê³ ê°ëª…,ë‚˜ì´,ê±°ì£¼ë„ì‹œ,ì£¼ìš”ê´€ì‹¬ì‚¬,ìµœê·¼1ë…„_ë°©ë¬¸ë¹ˆë„,í‰ê· êµ¬ë§¤ì•¡(ë§Œì›),ê³ ê°ë§Œì¡±ë„(ì ),ì¬êµ¬ë§¤ì˜ì‚¬(ì )
0,0,C001,ë°•íƒœê·¼,35,ì‹œí¥,Electronics,75,70,78,92
1,1,C002,ì´ì˜í¬,30,ì•ˆì–‘,fashion,85,92,88,85
2,2,C003,ë°•ì§€ì„±,35,ìš¸ì‚°,NaN,95,110,91,88
3,3,C004,ìµœë¯¼ì•„,40,ì°½ì›,Fashion,92,105,82,96
4,4,C005,ì •ìˆ˜ë¹ˆ,28,êµ¬ë¡œ,Fashion,82,88,94,79

íŠ¹ì • ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì§€ì •í•´ì„œ ê°€ì§€ê³ ì˜¤ê¸°

In [23]:
df = pd.read_csv('data/customers3.csv', index_col='ê³ ê°ID')

df

      ê³ ê°ëª…  ë‚˜ì´ ê±°ì£¼ë„ì‹œ        ì£¼ìš”ê´€ì‹¬ì‚¬  ìµœê·¼1ë…„_ë°©ë¬¸ë¹ˆë„  í‰ê· êµ¬ë§¤ì•¡(ë§Œì›)  ê³ ê°ë§Œì¡±ë„(ì )  ì¬êµ¬ë§¤ì˜ì‚¬(ì )
ê³ ê°ID
C001  ë°•íƒœê·¼  35   ì‹œí¥  Electronics         75         70        78        92
C002  ì´ì˜í¬  30   ì•ˆì–‘      fashion         85         92        88        85
C003  ë°•ì§€ì„±  35   ìš¸ì‚°          NaN         95        110        91        88
C004  ìµœë¯¼ì•„  40   ì°½ì›      Fashion         92        105        82        96
C005  ì •ìˆ˜ë¹ˆ  28   êµ¬ë¡œ      Fashion         82         88        94        79
C006  ìœ¤íƒœì˜  27   ì‹œí¥  Electronics         88         95        85        91
C007  í•œìœ ì§„  31   íŒŒì£¼          NaN         68         65        77        83
C008  ê°•ë¯¼í˜¸  29   ì¼ì‚°       Sports         98        125        96        90

### Excel íŒŒì¼ë¡œ ì €ì¥ ë° ì½ê¸°
**Excel íŒŒì¼ ì €ì¥ (`to_excel()`)**
- Excel íŒŒì¼ì„ ì½ì–´ì˜¬ ë•ŒëŠ” `to_excel()` ë©”ì„œë“œë¥¼ ì‚¬ìš©í•œë‹¤.

> ğŸ» ì£¼ì˜í• ì 
> - ì—‘ì…€íŒŒì¼ì„ ì €ì¥í•˜ê±°ë‚˜ ì½ì–´ì˜¬ë•Œ pandas ë‚´ë¶€ì ìœ¼ë¡œ openpyxl ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•œë‹¤.
> - ë”°ë¼ì„œ ë¼ì´ë¸ŒëŸ¬ë¦¬ê°€ ì„¤ì¹˜ë˜ì–´ìˆì–´ì•¼ ì •ìƒì ìœ¼ë¡œ ì—‘ì…€íŒŒì¼ì„ ì½ê³  ì €ì¥ í•  ìˆ˜ ìˆë‹¤.

In [24]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\miniforge3\envs\helloworld\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\programdata\miniforge3\envs\helloworld\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
df.to_excel('data/customers.xlsx')

- ë§ˆì°¬ê°€ì§€ë¡œ ì¸ë±ìŠ¤ë¥¼ í¬í•¨í•˜ì§€ ì•Šì„ ìˆ˜ ìˆê³ 
- ë°ì´í„°ë¥¼ ì €ì¥í•  Excel Sheetì˜ ì´ë¦„ì„ ì§€ì • í•  ìˆ˜ ìˆë‹¤.

In [31]:
df.to_excel('data/customers2.xlsx', index=False, sheet_name='ê³ ê°ì •ë³´')

**Excel íŒŒì¼ ì½ê¸° (`read_excel()`)**
- Excel íŒŒì¼ì„ ì½ì–´ì˜¬ ë•ŒëŠ” `read_excel()` ë©”ì„œë“œë¥¼ ì‚¬ìš©í•œë‹¤.

In [32]:
df = pd.read_excel('data/customers2.xlsx', index_col='ê³ ê°ëª…')

df

     ë‚˜ì´ ê±°ì£¼ë„ì‹œ        ì£¼ìš”ê´€ì‹¬ì‚¬  ìµœê·¼1ë…„_ë°©ë¬¸ë¹ˆë„  í‰ê· êµ¬ë§¤ì•¡(ë§Œì›)  ê³ ê°ë§Œì¡±ë„(ì )  ì¬êµ¬ë§¤ì˜ì‚¬(ì )
ê³ ê°ëª…
ë°•íƒœê·¼  35   ì‹œí¥  Electronics         75         70        78        92
ì´ì˜í¬  30   ì•ˆì–‘      fashion         85         92        88        85
ë°•ì§€ì„±  35   ìš¸ì‚°          NaN         95        110        91        88
ìµœë¯¼ì•„  40   ì°½ì›      Fashion         92        105        82        96
ì •ìˆ˜ë¹ˆ  28   êµ¬ë¡œ      Fashion         82         88        94        79
ìœ¤íƒœì˜  27   ì‹œí¥  Electronics         88         95        85        91
í•œìœ ì§„  31   íŒŒì£¼          NaN         68         65        77        83
ê°•ë¯¼í˜¸  29   ì¼ì‚°       Sports         98        125        96        90

- sheet_name ì˜µì…˜ìœ¼ë¡œ ì§€ì •í•œ ì‹œíŠ¸ì˜ ë°ì´í„°ë¥¼ ê°€ì§€ê³  ì˜¬ ìˆ˜ ìˆë‹¤.

In [42]:
# ì—‘ì…€ì—´ê³  test ì‹œíŠ¸ì˜ ë§Œë“¤ê¸°
df = pd.read_excel('data/customers2.xlsx', index_col='ê³ ê°ëª…', sheet_name='test')

df

     ë‚˜ì´ ê±°ì£¼ë„ì‹œ        ì£¼ìš”ê´€ì‹¬ì‚¬  ìµœê·¼1ë…„_ë°©ë¬¸ë¹ˆë„  í‰ê· êµ¬ë§¤ì•¡(ë§Œì›)  ê³ ê°ë§Œì¡±ë„(ì )  ì¬êµ¬ë§¤ì˜ì‚¬(ì )
ê³ ê°ëª…
í…ŒìŠ¤íŠ¸  35   ì‹œí¥  Electronics         75         70        78        92
ì´ì˜í¬  30   ì•ˆì–‘      fashion         85         92        88        85
ë°•ì§€ì„±  35   ìš¸ì‚°          NaN         95        110        91        88
ìµœë¯¼ì•„  40   ì°½ì›      Fashion         92        105        82        96
ì •ìˆ˜ë¹ˆ  28   êµ¬ë¡œ      Fashion         82         88        94        79
ìœ¤íƒœì˜  27   ì‹œí¥  Electronics         88         95        85        91
í•œìœ ì§„  31   íŒŒì£¼          NaN         68         65        77        83
ê°•ë¯¼í˜¸  29   ì¼ì‚°       Sports         98        125        96        90

### í•„ìš”í•œ ë°ì´í„°ë§Œ ì½ì–´ì˜¤ê¸°

**ê³ ê°ëª…, ë‚˜ì´, ê±°ì£¼ë„ì‹œ, ì£¼ìš”ê´€ì‹¬ì‚¬ë§Œ í•„ìš”í•˜ë‹¤ë©´?**

In [34]:
df = pd.read_excel('data/customers2.xlsx', usecols=['ê³ ê°ëª…', 'ë‚˜ì´', 'ê±°ì£¼ë„ì‹œ', 'ì£¼ìš”ê´€ì‹¬ì‚¬'])
df

   ê³ ê°ëª…  ë‚˜ì´ ê±°ì£¼ë„ì‹œ        ì£¼ìš”ê´€ì‹¬ì‚¬
0  ë°•íƒœê·¼  35   ì‹œí¥  Electronics
1  ì´ì˜í¬  30   ì•ˆì–‘      fashion
2  ë°•ì§€ì„±  35   ìš¸ì‚°          NaN
3  ìµœë¯¼ì•„  40   ì°½ì›      Fashion
4  ì •ìˆ˜ë¹ˆ  28   êµ¬ë¡œ      Fashion
5  ìœ¤íƒœì˜  27   ì‹œí¥  Electronics
6  í•œìœ ì§„  31   íŒŒì£¼          NaN
7  ê°•ë¯¼í˜¸  29   ì¼ì‚°       Sports

**ì—‘ì…€ì— ì œëª©ì¤„ì´ ìˆë‹¤ë©´??**

In [43]:
# ì—‘ì…€íŒŒì¼ì—ì„œ ìµœìƒë‹¨ì— ì œëª©ì¤„ë„£ê¸°

# ì—‘ì…€ì—´ê³  test ì‹œíŠ¸ì˜ ë§Œë“¤ê¸°
df = pd.read_excel('data/customers2.xlsx', sheet_name='test', header=1)

df

   í…ŒìŠ¤íŠ¸  35  ì‹œí¥  Electronics  75   70  78  92
0  ì´ì˜í¬  30  ì•ˆì–‘      fashion  85   92  88  85
1  ë°•ì§€ì„±  35  ìš¸ì‚°          NaN  95  110  91  88
2  ìµœë¯¼ì•„  40  ì°½ì›      Fashion  92  105  82  96
3  ì •ìˆ˜ë¹ˆ  28  êµ¬ë¡œ      Fashion  82   88  94  79
4  ìœ¤íƒœì˜  27  ì‹œí¥  Electronics  88   95  85  91
5  í•œìœ ì§„  31  íŒŒì£¼          NaN  68   65  77  83
6  ê°•ë¯¼í˜¸  29  ì¼ì‚°       Sports  98  125  96  90