# 8. iloc와 loc
---

In [1]:
import pandas as pd
df = pd.read_csv('data/customers3.csv', index_col='고객ID')
df

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주          NaN         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

### .iloc[] (Integer-location)
- 'Integer location'의 약자로, **정수 위치(0부터 시작하는 순서)**를 기반으로 데이터를 선택(조회)하는 기능
- df.iloc[행위치, 열위치] 형태로 사용하며, 이름(label)이 아닌 순서(position)로만 작동한다.

**행(ROW) 전체 조회하기**

In [2]:
df.iloc[0]

고객명                  박태근
나이                    35
거주도시                  시흥
주요관심사        Electronics
최근1년_방문빈도             75
평균구매액(만원)             70
고객만족도(점)              78
재구매의사(점)              92
Name: C001, dtype: object

In [5]:
df.iloc[0:5:2]

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C003  박지성  35   울산          NaN         95        110        91        88
C005  정수빈  28   구로      Fashion         82         88        94        79

**단일 값(데이터) 조회하기**

In [6]:
df.iloc[0,1]

np.int64(35)

In [7]:
df.iloc[4,2]

'구로'

### .loc[] (Label-location)
- 'Label location'의 약자로, 이름(Label)을 기반으로 데이터를 선택(조회)하는 기능
- 인덱스 이름(예: 'row_A')과 컬럼 이름(예: 'col_X')을 직접 사용

**행(ROW) 전체 조회하기**

In [10]:
df.loc['C001':'C005','고객명':'주요관심사']

      고객명  나이 거주도시        주요관심사
고객ID
C001  박태근  35   시흥  Electronics
C002  이영희  30   안양      fashion
C003  박지성  35   울산          NaN
C004  최민아  40   창원      Fashion
C005  정수빈  28   구로      Fashion

**단일 값(데이터) 조회하기**