### **문제 1**

아래 설명에 맞게 변수를 선언하고 값을 대입하세요.

1. `name`이라는 이름의 변수를 선언하고, **당신의 이름**을 문자열로 저장하세요.
2. `age`라는 이름의 변수를 선언하고, **당신의 나이**를 숫자로 저장하세요.

In [1]:
my_list = [1,2,3,4,2]

my_list[2]

my_list.append(4)

print(my_list)

[1, 2, 3, 4, 2, 4]

In [5]:
tuple = (1,2,3,4,4)

print(tuple)

tuple[4]

(1, 2, 3, 4, 4)

4

### 튜플
 - 순서가 있음 → 인덱스가 있다.
 - 내용을 변경할 수 없다.

In [6]:
tuple[2] = '1'

TypeError: 'tuple' object does not support item assignment

### 딕셔너리
- Key - Vlaue 쌍

In [9]:
dict = {
    'name':'박태근',
    'age':23,
    'city':'시흥',
}

In [13]:
print(dict['name'])
dict['city'] = '서울'

print(dict['city'])

dict['job'] = 'teacher'

print(dict)

박태근
서울
{'name': '박태근', 'age': 23, 'city': '서울', 'job': 'teacher'}

In [14]:
print(dict['age'])

23

In [17]:
dict2 = {
    'name':'박태근2',
    'age':232,
    'city':'시흥2',
}
dict3 = {
    'name':'박태근3',
    'age':233,
    'city':'시흥3',
}

In [16]:
dict_list = [dict, dict2, dict3]

print(dict_list)

[{'name': '박태근', 'age': 23, 'city': '서울', 'job': 'teacher'}, {'name': '박태근2', 'age': 232, 'city': '시흥2'}, {'name': '박태근3', 'age': 233, 'city': '시흥3'}]

### Set
- 중복 불허용
- 순서가 없음

In [20]:
set = {1,2,3,4,5,1}

print(set)

{1, 2, 3, 4, 5}