##### [실습] titanic 승객 데이터 활용

**컬럼 설명** 
- PassengerId - 승객 고유번호
- Survived - 생존유무(target 값) (0 = 사망, 1 = 생존)
- Pclass - 티켓 클래스 (1 = 1st, 2 = 2nd, 3 = 3rd)
- Name - 탑승객 성명
- Sex - 성별 (male: 남성, female: 여성)
- Age - 나이(세)
- SibSp - 함께 탑승한 형제자매, 배우자 수 총합
- Parch - 함께 탑승한 부모, 자녀 수 총합
- Ticket - 티켓 넘버
- Fare - 탑승 요금
- Cabin - 객실 넘버
- Embarked - 탑승 항구 (C: Cherbourg, Q: Queenstown, S: Southampton)

In [7]:
# titanic.csv 파일 로드
import pandas as pd

df = pd.read_csv('data/titanic.csv', index_col='PassengerId')
df.head()
# titanic 데이터셋의 메타 데이터 확인

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

- 기초문제

In [11]:
# 1. 전체 승객 중 생존자의 수와 사망자의 수를 구하여 출력

survived_count = df[df['Survived'] == 1].shape[0]
dead_count = df[df['Survived'] == 0].shape[0]

print(f"생존자 수: {survived_count}")
print(f"사망자 수: {dead_count}")

생존자 수: 342
사망자 수: 549

In [12]:
# 2. 승객 나이의 평균 출력
average_age = df['Age'].mean()
print(f"승객 나이의 평균: {average_age:.2f}")

승객 나이의 평균: 29.70

In [14]:
# 3. 1등급 승객 중 운임이 가장 높은 승객의 이름 출력

# 1등급 승객만 필터링
#first_class = df[df['Pclass'] == 1]

# 운임이 가장 높은 값 찾기
max_fare = df['Fare'].max()

# 그 운임을 가진 승객(들) 정보 얻기
rich_passenger = df[df['Fare'] == max_fare]

# 이름만 출력
print("운임이 가장 높은 1등급 승객의 이름:")
print(rich_passenger['Name'].values[0])  # 첫 번째 승객의 이름 출력

운임이 가장 높은 1등급 승객의 이름:
Ward, Miss. Anna

In [16]:
# 4. 여성 승객의 수를 구하여 출력

female_count = df[df['Sex'] == 'female'].shape[0]

print(f"여성 승객 수: {female_count}")

여성 승객 수: 314

In [17]:
# 5. 운임이 50 이상인 승객의 이름과 운임 출력

# 운임이 50 이상인 승객 필터링
rich_passengers = df[df['Fare'] >= 50]

# 이름과 운임 출력
for idx, row in rich_passengers.iterrows():
    print(f"이름: {row['Name']}, 운임: {row['Fare']}")

이름: Cumings, Mrs. John Bradley (Florence Briggs Thayer), 운임: 71.2833
이름: Futrelle, Mrs. Jacques Heath (Lily May Peel), 운임: 53.1
이름: McCarthy, Mr. Timothy J, 운임: 51.8625
이름: Fortune, Mr. Charles Alexander, 운임: 263.0
이름: Spencer, Mrs. William Augustus (Marie Eugenie), 운임: 146.5208
이름: Meyer, Mr. Edgar Joseph, 운임: 82.1708
이름: Holverson, Mr. Alexander Oskar, 운임: 52.0
이름: Harper, Mrs. Henry Sleeper (Myna Haxtun), 운임: 76.7292
이름: Ostby, Mr. Engelhart Cornelius, 운임: 61.9792
이름: Icard, Miss. Amelie, 운임: 80.0
이름: Harris, Mr. Henry Birkhardt, 운임: 83.475
이름: Hood, Mr. Ambrose Jr, 운임: 73.5
이름: Bing, Mr. Lee, 운임: 56.4958
이름: Fortune, Miss. Mabel Helen, 운임: 263.0
이름: Chaffee, Mr. Herbert Fuller, 운임: 61.175
이름: Greenfield, Mr. William Bertram, 운임: 63.3583
이름: White, Mr. Richard Frasar, 운임: 77.2875
이름: Porter, Mr. Walter Chamberlain, 운임: 52.0
이름: Baxter, Mr. Quigg Edmond, 운임: 247.5208
이름: Hickman, Mr. Stanley George, 운임: 73.5
이름: White, Mr. Percival Wayland, 운임: 77.2875
이름: Futrelle, Mr. Jacques Heath, 운임: 53.1
이름: Giglio, Mr. Victor, 운임: 79.2
이름: Pears, Mrs. Thomas (Edith Wearne), 운임: 66.6
이름: Williams, Mr. Charles Duane, 운임: 61.3792
이름: Sage, Master. Thomas Henry, 운임: 69.55
이름: Chibnall, Mrs. (Edith Martha Bowerman), 운임: 55.0
이름: Ling, Mr. Lee, 운임: 56.4958
이름: Sage, Miss. Constance Gladys, 운임: 69.55
이름: Rood, Mr. Hugh Roscoe, 운임: 50.0
이름: Lurette, Miss. Elise, 운임: 146.5208
이름: Sage, Mr. Frederick, 운임: 69.55
이름: Newell, Miss. Madeleine, 운임: 113.275
이름: Bazzani, Miss. Albina, 운임: 76.2917
이름: Hoyt, Mr. Frederick Maxfield, 운임: 90.0
이름: Harris, Mrs. Henry Birkhardt (Irene Wallach), 운임: 83.475
이름: Minahan, Dr. William Edward, 운임: 90.0
이름: Beckwith, Mr. Richard Leonard, 운임: 52.5542
이름: Thorne, Mrs. Gertrude Maybelle, 운임: 79.2
이름: Cherry, Miss. Gladys, 운임: 86.5
이름: Ward, Miss. Anna, 운임: 512.3292
이름: Taussig, Mr. Emil, 운임: 79.65
이름: Graham, Mrs. William Thompson (Edith Junkins), 운임: 153.4625
이름: Bissette, Miss. Amelia, 운임: 135.6333
이름: Andrews, Miss. Kornelia Theodosia, 운임: 77.9583
이름: Barber, Miss. Ellen "Nellie", 운임: 78.85
이름: Bishop, Mrs. Dickinson H (Helen Walton), 운임: 91.0792
이름: Allison, Miss. Helen Loraine, 운임: 151.55
이름: Baxter, Mrs. James (Helene DeLaudeniere Chaput), 운임: 247.5208
이름: Allison, Master. Hudson Trevor, 운임: 151.55
이름: Fleming, Miss. Margaret, 운임: 110.8833
이름: Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo), 운임: 108.9
이름: Francatelli, Miss. Laura Mabel, 운임: 56.9292
이름: Hays, Miss. Margaret Bechstein, 운임: 83.1583
이름: Ryerson, Miss. Emily Borie, 운임: 262.375
이름: Wick, Miss. Mary Natalie, 운임: 164.8667
이름: Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone), 운임: 134.5
이름: Sage, Mr. George John Jr, 운임: 69.55
이름: Young, Miss. Marie Grice, 운임: 135.6333
이름: Hippach, Miss. Jean Gertrude, 운임: 57.9792
이름: Graham, Mr. George Edward, 운임: 153.4625
이름: Frauenthal, Mrs. Henry William (Clara Heinsheimer), 운임: 133.65
이름: Pears, Mr. Thomas Clinton, 운임: 66.6
이름: Burns, Miss. Elizabeth Margaret, 운임: 134.5
이름: Fortune, Miss. Alice Elizabeth, 운임: 263.0
이름: Bowerman, Miss. Elsie Edith, 운임: 55.0
이름: Warren, Mrs. Frank Manley (Anna Sophia Atkinson), 운임: 75.25
이름: Aubart, Mme. Leontine Pauline, 운임: 69.3
이름: Harder, Mr. George Achilles, 운임: 55.4417
이름: Ringhini, Mr. Sante, 운임: 135.6333
이름: Meyer, Mrs. Edgar Joseph (Leila Saks), 운임: 82.1708
이름: Widener, Mr. Harry Elkins, 운임: 211.5
이름: Bidois, Miss. Rosalie, 운임: 227.525
이름: Holverson, Mrs. Alexander Oskar (Mary Aline Towner), 운임: 52.0
이름: Davies, Mr. Charles Henry, 운임: 73.5
이름: Carter, Mr. William Ernest, 운임: 120.0
이름: Newell, Miss. Marjorie, 운임: 113.275
이름: Minahan, Miss. Daisy E, 운임: 90.0
이름: Silvey, Mr. William Baird, 운임: 55.9
이름: Carter, Miss. Lucile Polk, 운임: 120.0
이름: Fortune, Mr. Mark, 운임: 263.0
이름: Dodge, Master. Washington, 운임: 81.8583
이름: Goldenberg, Mr. Samuel L, 운임: 89.1042
이름: Kenyon, Mrs. Frederick R (Marion), 운임: 51.8625
이름: Clifford, Mr. George Quincy, 운임: 52.0
이름: Bishop, Mr. Dickinson H, 운임: 91.0792
이름: Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby), 운임: 90.0
이름: Eustis, Miss. Elizabeth Mussey, 운임: 78.2667
이름: Allison, Mrs. Hudson J C (Bessie Waldo Daniels), 운임: 151.55
이름: Maioni, Miss. Roberta, 운임: 86.5
이름: Penasco y Castellana, Mr. Victor de Satode, 운임: 108.9
이름: Lang, Mr. Fang, 운임: 56.4958
이름: Rothschild, Mrs. Martin (Elizabeth L. Barrett), 운임: 59.4
이름: Perreault, Miss. Anne, 운임: 93.5
이름: Hippach, Mrs. Louis Albert (Ida Sophia Fischer), 운임: 57.9792
이름: Farthing, Mr. John, 운임: 221.7792
이름: LeRoy, Miss. Bertha, 운임: 106.425
이름: Crosby, Miss. Harriet R, 운임: 71.0
이름: Douglas, Mr. Walter Donald, 운임: 106.425
이름: Thayer, Mr. John Borland Jr, 운임: 110.8833
이름: Robbins, Mr. Victor, 운임: 227.525
이름: Taussig, Mrs. Emil (Tillie Mandelbaum), 운임: 79.65
이름: Appleton, Mrs. Edward Dale (Charlotte Lamson), 운임: 51.4792
이름: Silvey, Mrs. William Baird (Alice Munger), 운임: 55.9
이름: Thayer, Mrs. John Borland (Marian Longstreth Morris), 운임: 110.8833
이름: Taussig, Miss. Ruth, 운임: 79.65
이름: Frolicher-Stehli, Mr. Maxmillian, 운임: 79.2
이름: Stephenson, Mrs. Walter Bertram (Martha Eustis), 운임: 78.2667
이름: Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan"), 운임: 56.9292
이름: Shutes, Miss. Elizabeth W, 운임: 153.4625
이름: Herman, Miss. Alice, 운임: 65.0
이름: Kimball, Mr. Edwin Nelson Jr, 운임: 52.5542
이름: Longley, Miss. Gretchen Fiske, 운임: 77.9583
이름: Sagesser, Mlle. Emma, 운임: 69.3
이름: Foo, Mr. Choong, 운임: 56.4958
이름: Harper, Mr. Henry Sleeper, 운임: 76.7292
이름: Hickman, Mr. Leonard Mark, 운임: 73.5
이름: Newell, Mr. Arthur Webster, 운임: 113.275
이름: Frauenthal, Dr. Henry William, 운임: 133.65
이름: Hickman, Mr. Lewis, 운임: 73.5
이름: Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright), 운임: 52.0
이름: Davidson, Mr. Thornton, 운임: 52.0
이름: Cardeza, Mr. Thomas Drake Martinez, 운임: 512.3292
이름: Hassab, Mr. Hammad, 운임: 76.7292
이름: Madill, Miss. Georgette Alexandra, 운임: 211.3375
이름: Dick, Mr. Albert Adrian, 운임: 57.0
이름: Lam, Mr. Ali, 운임: 56.4958
이름: Thayer, Mr. John Borland, 운임: 110.8833
이름: Astor, Mrs. John Jacob (Madeleine Talmadge Force), 운임: 227.525
이름: Cleaver, Miss. Alice, 운임: 151.55
이름: Taylor, Mr. Elmer Zebley, 운임: 52.0
이름: Endres, Miss. Caroline Louise, 운임: 227.525
이름: Chambers, Mr. Norman Campbell, 운임: 53.1
이름: Allen, Miss. Elisabeth Walton, 운임: 211.3375
이름: Lesurer, Mr. Gustave J, 운임: 512.3292
이름: Cavendish, Mr. Tyrell William, 운임: 78.85
이름: Ryerson, Miss. Susan Parker "Suzette", 운임: 262.375
이름: Crosby, Capt. Edward Gifford, 운임: 71.0
이름: Marvin, Mr. Daniel Warner, 운임: 53.1
이름: Herman, Mrs. Samuel (Jane Laver), 운임: 65.0
이름: Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards), 운임: 86.5
이름: Carter, Mrs. William Ernest (Lucile Polk), 운임: 120.0
이름: Hogeboom, Mrs. John C (Anna Andrews), 운임: 77.9583
이름: Robert, Mrs. Edward Scott (Elisabeth Walton McMillan), 운임: 211.3375
이름: Dick, Mrs. Albert Adrian (Vera Gillespie), 운임: 57.0
이름: Guggenheim, Mr. Benjamin, 운임: 79.2
이름: Sage, Miss. Stella Anna, 운임: 69.55
이름: Carter, Master. William Thornton II, 운임: 120.0
이름: Chambers, Mrs. Norman Campbell (Bertha Griggs), 운임: 53.1
이름: Hays, Mrs. Charles Melville (Clara Jennings Gregg), 운임: 93.5
이름: Lam, Mr. Len, 운임: 56.4958
이름: Stone, Mrs. George Nelson (Martha Evelyn), 운임: 80.0
이름: Compton, Miss. Sara Rebecca, 운임: 83.1583
이름: Chip, Mr. Chang, 운임: 56.4958
이름: Sage, Mr. Douglas Bullen, 운임: 69.55
이름: Goldenberg, Mrs. Samuel L (Edwiga Grabowska), 운임: 89.1042
이름: Wick, Mrs. George Dennick (Mary Hitchcock), 운임: 164.8667
이름: Sage, Miss. Dorothy Edith "Dolly", 운임: 69.55
이름: Roebling, Mr. Washington Augustus II, 운임: 50.4958
이름: Beckwith, Mrs. Richard Leonard (Sallie Monypeny), 운임: 52.5542
이름: Potter, Mrs. Thomas Jr (Lily Alexenia Wilson), 운임: 83.1583

In [20]:
# 6. 나이가 18세 미만인 승객들의 생존율을 계산하여 출력

young = df[df['Age'] < 18]

surviver_rate = young['Survived'].mean()

print(f"나이가 18세 미만인 승객의 생존율 : {surviver_rate:.2f}")

나이가 18세 미만인 승객의 생존율 : 0.54

In [21]:
# 7. 2등급 객실에 탑승한 승객의 평균 운임을 계산하여 출력

second_class = df[df['Pclass'] == 2]

fare_mean = second_class['Fare'].mean()

print(f"2등급 객실에 탑승한 승객의 평균 운임 : {fare_mean:.2f}")

2등급 객실에 탑승한 승객의 평균 운임 : 20.66

In [27]:
# 8. 승객 중 나이가 가장 많은 사람의 나이와 이름을 출력

max_age = df.loc[df['Age'].idxmax()]

name = max_age['Name']
age = max_age['Age']

print(f"승객 중 {name}이 {age}살로 나이가 제일 많다.")

승객 중 Barkworth, Mr. Algernon Henry Wilson이 80.0살로 나이가 제일 많다.

In [31]:
# 9. S 항구에서 탑승한 승객의 수를 출력

num_s_embarked = df[df['Embarked'] == 'S'].shape[0]

print(f"S 항구에서 탑승한 승객의 수는 {num_s_embarked}명 입니다.")

S 항구에서 탑승한 승객의 수는 644명 입니다.

In [36]:
# 10. 3등급 객실에 탑승한 남성 승객 중 생존자의 수를 출력

survived_male_pclass3 = df[(df['Pclass'] == 3) & (df['Sex'] == 'male') & (df['Survived'] == 1)].shape[0]

print(f"3등급 객실에 탑승한 남성 승객 중 생존자의 수는 {survived_male_pclass3}명 입니다.")

3등급 객실에 탑승한 남성 승객 중 생존자의 수는 47명 입니다.

- 고급문제

In [34]:
# 1. 생존자(Survived)와 그렇지 않은 사람들의 `Pclass`(객실 등급)별 평균 나이를 각각 출력

In [35]:
# 2. `SibSp`(형제/배우자 수)가 3 이상인 승객들 중에서, `Fare`(운임) 상위 5명의 이름과 나이를 출력

In [36]:
# 3. 승객 중에서 `Age` 값이 결측치(NaN)인 사람들의 `Embarked`(탑승 항구)별 분포를 출력

In [37]:
# 4. 나이가 16세 미만이고, 혼자 탑승한(`SibSp == 0` and `Parch == 0`) 승객의 이름과 성별, 생존 여부를 출력

In [38]:
# 5. 1등급(Pclass == 1) 객실에 탑승한 승객들 중에서, 운임(Fare)이 평균보다 높은 사람들의 이름과 나이, 운임을 출력

In [39]:
# 6. 나이(Age), 객실 등급(Pclass), 운임(Fare) 값에 결측치가 없는 승객들만 대상으로, 각 등급별 평균 운임과 중앙값 운임을 출력

In [40]:
# 7. 승객들의 `Embarked` 별 평균 나이를 계산하고, 가장 많은 승객이 탑승한 항구를 기준으로 생존율을 계산하여 출력

In [41]:
# 8. 승객 중에서 여성(`Sex == 'female'`)이면서 30세 이상인 사람들의 생존율을 계산하여 출력

In [42]:
# 9. 동반한 형제 또는 배우자 수(`SibSp`)와 부모 또는 자녀 수(`Parch`)의 합이 3 이상인 승객들만을 대상으로, 그들의 생존율을 계산하여 출력

In [43]:
# 10. `Cabin`(객실 번호) 정보가 있는 승객들만을 대상으로, 그들의 생존율을 객실 등급별로 구분하여 계산하여 출력